body {
    font-family: "Lato", sans-serif;
    color: #2D3C49;
    font-weight: 300;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.text-muted {
    color: #7D97AD
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    max-height: 100px;
    margin: 20px 0 -10px 0;
}

hr {
    border: none;
    height: 5px;
    color: #7D97AD;
    background-color: #7D97AD;
}

.main-image {
    width: 100%;
}

.featured-work {
    max-height: 270px;
}

a {
    text-decoration: none;
}

.featured-work img {
    cursor: pointer;
    min-height: 220px;
    object-fit: contain;
    margin: 0 auto;
}

.card {
    min-height: 325px;
    margin: .5rem 0;
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .card {
        height: 355px;
        margin: .5rem 0;
    }
    
    .featured-work img {
        min-height: 270px;
    }
}
